octagon-backup/src/main/resources/octagon.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="octagon" type="octagonType"/>
    <xs:simpleType name="UUIDType">
      <xs:restriction base="xs:ID">
        <xs:pattern
                value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}">
        </xs:pattern>
      </xs:restriction>
    </xs:simpleType>
  <xs:simpleType name="RoleType" final="restriction" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="READER" />
      <xs:enumeration value="EDITOR" />
      <xs:enumeration value="MOVER" />
      <xs:enumeration value="DELETER" />
      <xs:enumeration value="ADMIN" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="userType">
    <xs:sequence>
      <xs:element type="UUIDType" name="id"/>
      <xs:element type="xs:string" name="nick"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="surname"/>
      <xs:element type="xs:string" name="active"/>
      <xs:element type="RoleType" name="roleStriction"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usersType">
    <xs:sequence>
      <xs:element type="userType" name="user"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userDetailType">
    <xs:sequence>
      <xs:element type="UUIDType" name="id"/>
      <xs:element type="UUIDType" name="user"/>
      <xs:element type="xs:string" name="passwordHash"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userDetailsType">
    <xs:sequence>
      <xs:element type="userDetailType" name="userDetail"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="groupType">
    <xs:sequence>
      <xs:element type="UUIDType" name="id"/>
      <xs:element type="xs:string" name="nick"/>
      <xs:element type="UUIDType" name="owner"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="groupsType">
    <xs:sequence>
      <xs:element type="groupType" name="group"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userAssignmentType">
    <xs:sequence>
      <xs:element type="UUIDType" name="id"/>
      <xs:element type="UUIDType" name="user"/>
      <xs:element type="UUIDType" name="group"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userAssignmentsType">
    <xs:sequence>
      <xs:element type="userAssignmentType" name="userAssignment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accessRightType">
    <xs:sequence>
      <xs:element type="UUIDType" name="id"/>
      <xs:element type="xs:boolean" name="read"/>
      <xs:element type="xs:boolean" name="edit"/>
      <xs:element type="xs:boolean" name="move"/>
      <xs:element type="xs:boolean" name="delete"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accessRightsType">
    <xs:sequence>
      <xs:element type="accessRightType" name="accessRight"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accessType">
    <xs:sequence>
      <xs:element type="UUIDType" name="id"/>
      <xs:element type="UUIDType" name="user"/>
      <xs:element type="UUIDType" name="group"/>
      <xs:element type="UUIDType" name="userAccessRight"/>
      <xs:element type="UUIDType" name="groupAccessRight"/>
      <xs:element type="UUIDType" name="otherAccessRight"/>
      <xs:element type="xs:boolean" name="system"/>
      <xs:element type="xs:boolean" name="hidden"/>
      <xs:element type="xs:boolean" name="denyAnonymous"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="accessesType">
    <xs:sequence>
      <xs:element type="accessType" name="access"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="logType">
    <xs:sequence>
      <xs:element type="UUIDType" name="id"/>
      <xs:element type="xs:string" name="type"/>
      <xs:element type="xs:dateTime" name="timestamp"/>
      <xs:element type="UUIDType" name="user"/>
      <xs:element type="xs:string" name="data"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="logsType">
    <xs:sequence>
      <xs:element type="logType" name="log"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="databaseType">
    <xs:sequence>
      <xs:element type="UUIDType" name="id"/>
      <xs:element type="UUIDType" name="access"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="description"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="databasesType">
    <xs:sequence>
      <xs:element type="databaseType" name="database"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="spaceType">
    <xs:sequence>
      <xs:element type="UUIDType" name="id"/>
      <xs:element type="UUIDType" name="access"/>
      <xs:element type="UUIDType" name="database"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="description"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="spacesType">
    <xs:sequence>
      <xs:element type="spaceType" name="space"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PathType">
    <xs:sequence>
      <xs:element type="UUIDType" name="node" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="nodeType" final="restriction" >
    <xs:restriction base="xs:string">
      <xs:enumeration value="SCHEMA" />
      <xs:enumeration value="VALIDATED_JSON" />
      <xs:enumeration value="CHECKED_JSON" />
      <xs:enumeration value="FREE_FORM_JSON" />
      <xs:enumeration value="NO_JSON" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="nodeType">
    <xs:sequence>
      <xs:element type="UUIDType" name="id"/>
      <xs:element type="xs:string" name="systemId"/>
      <xs:element type="UUIDType" name="access"/>
      <xs:element type="UUIDType" name="space"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="PathType" name="path"/>
      <xs:element type="xs:base64Binary" name="content"/>
      <xs:element type="xs:string" name="json"/>
      <xs:element type="UUIDType" name="schema"/>
      <xs:element type="nodeType" name="type"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nodesType">
    <xs:sequence>
      <xs:element type="nodeType" name="node"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MD5Type">
    <xs:restriction base="xs:string">
      <xs:pattern
              value="^[a-f0-9]{32}$">
      </xs:pattern>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="fileType">
    <xs:sequence>
      <xs:element type="UUIDType" name="id"/>
      <xs:element type="UUIDType" name="node"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="xs:integer" name="size"/>
      <xs:element type="MD5Type" name="hash"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="filesType">
    <xs:sequence>
      <xs:element type="fileType" name="file"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="directoryType">
    <xs:sequence>
      <xs:element type="UUIDType" name="id"/>
      <xs:element type="UUIDType" name="node"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="description"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="directoriesType">
    <xs:sequence>
      <xs:element type="directoryType" name="directory"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="octagonType">
    <xs:sequence>
      <xs:element type="usersType" name="users"/>
      <xs:element type="userDetailsType" name="userDetails"/>
      <xs:element type="groupsType" name="groups"/>
      <xs:element type="userAssignmentsType" name="userAssignments"/>
      <xs:element type="accessRightsType" name="accessRights"/>
      <xs:element type="accessesType" name="accesses"/>
      <xs:element type="logsType" name="logs"/>
      <xs:element type="databasesType" name="databases"/>
      <xs:element type="spacesType" name="spaces"/>
      <xs:element type="nodesType" name="nodes"/>
      <xs:element type="filesType" name="files"/>
      <xs:element type="directoriesType" name="directories"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>